In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [84]:
#Load our dataframe account for the index columns
df = pd.read_csv('case_study.csv', index_col='Unnamed: 0')
df.head()

/Users/flatironschool/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (171) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,NaN,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,NaN,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,NaN,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,NaN,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34545 entries, 49938 to 303778
Columns: 358 entries, _STATE to _AIDTST3
dtypes: float64(352), int64(5), object(1)
memory usage: 94.6+ MB

In [9]:
# Quickly check to see the size of our DF, both rows and columns
df.shape

(34545, 358)

In [86]:
df.shape

(34545, 358)

## Subset your dataframe to only include the states in the tri-state area (NJ, CT, NY)

In [12]:
# your code here
df['_STATE'].unique()

array([ 9., 34., 36.])

Now check to see how large our subset df.

In [ ]:
# your code here
 
# nh = df.loc[:,['_STATE','PHYSHLTH']]

**PHYSHLTH** is the column we are interested in for this analysis, so let's start to investigate the column. Since we have a data cookbook, a.k.a. data dictionary) we want to start there before looking at the code.

In [13]:
df['PHYSHLTH'].describe()

count    34545.000000
mean        60.213403
std         37.504566
min          1.000000
25%         15.000000
50%         88.000000
75%         88.000000
max         99.000000
Name: PHYSHLTH, dtype: float64

## 1. Handle the non-normal values

As you can see from the data dictionary, there are a number of responses that are coded with values that could throw off our descriptive statistics.  Let's clean up by mapping the responses to a more appropriate value, and handling any missing values.

In [73]:
#your code here
#find the total number of nan in the columns 
# df.isna().sum()
df["PHYSHLTH"].value_counts()

88.0    21296
30.0     2438
2.0      1993
1.0      1538
3.0      1187
5.0      1092
10.0      751
7.0       641
15.0      640
4.0       622
77.0      493
20.0      402
14.0      326
99.0      305
6.0       187
25.0      159
8.0        99
21.0       70
12.0       69
28.0       57
29.0       35
27.0       22
18.0       19
16.0       16
17.0       15
9.0        15
22.0       12
13.0       10
19.0       10
11.0        8
24.0        7
26.0        7
23.0        4
Name: PHYSHLTH, dtype: int64

In [82]:
test_1 = df.loc[:,['_STATE','PHYSHLTH']]
test_1 = test_1.astype('int')
test_1

        _STATE  PHYSHLTH
49938        9        88
49939        9        88
49940        9         2
49941        9        88
49942        9        88
...        ...       ...
303774      36        88
303775      36        88
303776      36         6
303777      36        88
303778      36        88

[34545 rows x 2 columns]

In [76]:
test_1.isna().sum() #check to make sure there is no nan

_STATE      0
PHYSHLTH    0
dtype: int64

In [88]:
test_1['PHYSHLTH'].replace(88, 0)
test_1

        _STATE  PHYSHLTH
49938        9        88
49939        9        88
49940        9         2
49941        9        88
49942        9        88
...        ...       ...
303774      36        88
303775      36        88
303776      36         6
303777      36        88
303778      36        88

[34545 rows x 2 columns]

In [65]:
# def my_funk():
#     my_new_thing = []
#     State_name = []
#     final_list = []
#     for i in df:
#         State_name.append(i)
#         my_new_thing.append(df[i].isna().sum())
#         final_list = State_name 
# #         print(i,   my_new_thing)
#     return State_name, my_new_thing

# my_funk()

(['_STATE',
  'FMONTH',
  'IDATE',
  'IMONTH',
  'IDAY',
  'IYEAR',
  'DISPCODE',
  'SEQNO',
  '_PSU',
  'CTELENM1',
  'PVTRESD1',
  'COLGHOUS',
  'STATERE1',
  'CELLFON4',
  'LADULT',
  'NUMADULT',
  'NUMMEN',
  'NUMWOMEN',
  'SAFETIME',
  'CTELNUM1',
  'CELLFON5',
  'CADULT',
  'PVTRESD3',
  'CCLGHOUS',
  'CSTATE1',
  'LANDLINE',
  'HHADULT',
  'GENHLTH',
  'PHYSHLTH',
  'MENTHLTH',
  'POORHLTH',
  'HLTHPLN1',
  'PERSDOC2',
  'MEDCOST',
  'CHECKUP1',
  'BPHIGH4',
  'BPMEDS',
  'CHOLCHK1',
  'TOLDHI2',
  'CHOLMED1',
  'CVDINFR4',
  'CVDCRHD4',
  'CVDSTRK3',
  'ASTHMA3',
  'ASTHNOW',
  'CHCSCNCR',
  'CHCOCNCR',
  'CHCCOPD1',
  'HAVARTH3',
  'ADDEPEV2',
  'CHCKIDNY',
  'DIABETE3',
  'DIABAGE2',
  'LMTJOIN3',
  'ARTHDIS2',
  'ARTHSOCL',
  'JOINPAI1',
  'SEX',
  'MARITAL',
  'EDUCA',
  'RENTHOM1',
  'NUMHHOL2',
  'NUMPHON2',
  'CPDEMO1A',
  'VETERAN3',
  'EMPLOY1',
  'CHILDREN',
  'INCOME2',
  'INTERNET',
  'WEIGHT2',
  'HEIGHT3',
  'PREGNANT',
  'DEAF',
  'BLIND',
  'DECIDE',
  'DIFFWALK',
  'DIFFDRES',
  'DIFFALON',
  'SMOKE100',
  'SMOKDAY2',
  'STOPSMK2',
  'LASTSMK2',
  'USENOW3',
  'ECIGARET',
  'ECIGNOW',
  'ALCDAY5',
  'AVEDRNK2',
  'DRNK3GE5',
  'MAXDRNKS',
  'FRUIT2',
  'FRUITJU2',
  'FVGREEN1',
  'FRENCHF1',
  'POTATOE1',
  'VEGETAB2',
  'EXERANY2',
  'EXRACT11',
  'EXEROFT1',
  'EXERHMM1',
  'EXRACT21',
  'EXEROFT2',
  'EXERHMM2',
  'STRENGTH',
  'SEATBELT',
  'FLUSHOT6',
  'FLSHTMY2',
  'PNEUVAC3',
  'SHINGLE2',
  'HIVTST6',
  'HIVTSTD3',
  'HIVRISK5',
  'PDIABTST',
  'PREDIAB1',
  'INSULIN',
  'BLDSUGAR',
  'FEETCHK2',
  'DOCTDIAB',
  'CHKHEMO3',
  'FEETCHK',
  'EYEEXAM',
  'DIABEYE',
  'DIABEDU',
  'COPDCOGH',
  'COPDFLEM',
  'COPDBRTH',
  'COPDBTST',
  'COPDSMOK',
  'HAREHAB1',
  'STREHAB1',
  'CVDASPRN',
  'ASPUNSAF',
  'RLIVPAIN',
  'RDUCHART',
  'RDUCSTRK',
  'BPEATHBT',
  'BPSALT',
  'BPALCHOL',
  'BPEXER',
  'BPEATADV',
  'BPSLTADV',
  'BPALCADV',
  'BPEXRADV',
  'BPMEDADV',
  'BPHI2MR',
  'ARTTODAY',
  'ARTHWGT',
  'ARTHEXER',
  'ARTHEDU',
  'ASTHMAGE',
  'ASATTACK',
  'ASERVIST',
  'ASDRVIST',
  'ASRCHKUP',
  'ASACTLIM',
  'ASYMPTOM',
  'ASNOSLEP',
  'ASTHMED3',
  'ASINHALR',
  'PAINACT2',
  'QLMENTL2',
  'QLSTRES2',
  'QLHLTH2',
  'SLEPTIM1',
  'ADSLEEP',
  'SLEPDAY1',
  'SLEPSNO2',
  'SLEPBRTH',
  'MEDICARE',
  'HLTHCVR1',
  'DELAYMED',
  'DLYOTHER',
  'NOCOV121',
  'LSTCOVRG',
  'DRVISITS',
  'MEDSCOS1',
  'CARERCVD',
  'MEDBILL1',
  'ASBIALCH',
  'ASBIDRNK',
  'ASBIBING',
  'ASBIADVC',
  'ASBIRDUC',
  'CNCRDIFF',
  'CNCRAGE',
  'CNCRTYP1',
  'CSRVTRT2',
  'CSRVDOC1',
  'CSRVSUM',
  'CSRVRTRN',
  'CSRVINST',
  'CSRVINSR',
  'CSRVDEIN',
  'CSRVCLIN',
  'CSRVPAIN',
  'CSRVCTL1',
  'SSBSUGR2',
  'SSBFRUT3',
  'WTCHSALT',
  'DRADVISE',
  'MARIJANA',
  'USEMRJN1',
  'RSNMRJNA',
  'PFPPRVN2',
  'TYPCNTR7',
  'NOBCUSE6',
  'IMFVPLAC',
  'HPVADVC2',
  'HPVADSHT',
  'TETANUS',
  'LCSFIRST',
  'LCSLAST',
  'LCSNUMCG',
  'LCSCTSCN',
  'CAREGIV1',
  'CRGVREL2',
  'CRGVLNG1',
  'CRGVHRS1',
  'CRGVPRB2',
  'CRGVPERS',
  'CRGVHOUS',
  'CRGVMST2',
  'CRGVEXPT',
  'CIMEMLOS',
  'CDHOUSE',
  'CDASSIST',
  'CDHELP',
  'CDSOCIAL',
  'CDDISCUS',
  'EMTSUPRT',
  'LSATISFY',
  'SDHBILLS',
  'SDHMOVE',
  'HOWSAFE1',
  'SDHFOOD',
  'SDHMEALS',
  'SDHMONEY',
  'SDHSTRES',
  'SXORIENT',
  'TRNSGNDR',
  'FIREARM4',
  'GUNLOAD',
  'LOADULK2',
  'RCSGENDR',
  'RCSRLTN2',
  'CASTHDX2',
  'CASTHNO2',
  'QSTVER',
  'QSTLANG',
  'MSCODE',
  '_STSTR',
  '_STRWT',
  '_RAWRAKE',
  '_WT2RAKE',
  '_IMPRACE',
  '_CHISPNC',
  '_CRACE1',
  '_CPRACE',
  '_CLLCPWT',
  '_DUALUSE',
  '_DUALCOR',
  '_LLCPWT2',
  '_LLCPWT',
  '_RFHLTH',
  '_PHYS14D',
  '_MENT14D',
  '_HCVU651',
  '_RFHYPE5',
  '_CHOLCH1',
  '_RFCHOL1',
  '_MICHD',
  '_LTASTH1',
  '_CASTHM1',
  '_ASTHMS1',
  '_DRDXAR1',
  '_LMTACT1',
  '_LMTWRK1',
  '_LMTSCL1',
  '_PRACE1',
  '_MRACE1',
  '_HISPANC',
  '_RACE',
  '_RACEG21',
  '_RACEGR3',
  '_RACE_G1',
  '_AGEG5YR',
  '_AGE65YR',
  '_AGE80',
  '_AGE_G',
  'HTIN4',
  'HTM4',
  'WTKG3',
  '_BMI5',
  '_BMI5CAT',
  '_RFBMI5',
  '_CHLDCNT',
  '_EDUCAG',
  '_INCOMG',
  '_SMOKER3',
  '_RFSMOK3',
  '_ECIGSTS',
  '_CURECIG',
  'DRNKANY5',
  'DROCDY3_',
  '_RFBING5',
  '_DRNKWEK',
  '_RFDRHV5',
  'FTJUDA2_',
  'FRUTDA2_',
  'GRENDA1_',
  'FRNCHDA_',
  'POTADA1_',
  'VEGEDA2_',
  '_MISFRT1',
  '_MISVEG1',
  '_FRTRES1',
  '_VEGRES1',
  '_FRUTSU1',
  '_VEGESU1',
  '_FRTLT1A',
  '_VEGLT1A',
  '_FRT16A',
  '_VEG23A',
  '_FRUITE1',
  '_VEGETE1',
  '_TOTINDA',
  'METVL11_',
  'METVL21_',
  'MAXVO2_',
  'FC60_',
  'ACTIN11_',
  'ACTIN21_',
  'PADUR1_',
  'PADUR2_',
  'PAFREQ1_',
  'PAFREQ2_',
  '_MINAC11',
  '_MINAC21',
  'STRFREQ_',
  'PAMISS1_',
  'PAMIN11_',
  'PAMIN21_',
  'PA1MIN_',
  'PAVIG11_',
  'PAVIG21_',
  'PA1VIGM_',
  '_PACAT1',
  '_PAINDX1',
  '_PA150R2',
  '_PA300R2',
  '_PA30021',
  '_PASTRNG',
  '_PAREC1',
  '_PASTAE1',
  '_RFSEAT2',
  '_RFSEAT3',
  '_FLSHOT6',
  '_PNEUMO2',
  '_AIDTST3'],
 [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  16043,
  16043,
  34537,
  16043,
  16043,
  34537,
  16050,
  16046,
  16046,
  18502,
  18502,
  18502,
  18502,
  18502,
  34449,
  18502,
  18503,
  22612,
  0,
  0,
  0,
  16417,
  0,
  0,
  0,
  0,
  0,
  21335,
  0,
  1476,
  22126,
  0,
  0,
  0,
  0,
  29744,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  30184,
  23857,
  23857,
  23857,
  23857,
  0,
  0,
  0,
  0,
  16044,
  33258,
  16043,
  0,
  0,
  0,
  316,
  437,
  576,
  652,
  28480,
  1050,
  1140,
  1219,
  1282,
  1314,
  1370,
  1438,
  20762,
  30502,
  24852,
  1498,
  1805,
  30322,
  1907,
  15435,
  15480,
  15520,
  2323,
  2422,
  2500,
  2569,
  2645,
  2737,
  3017,
  11465,
  11653,
  11696,
  11748,
  19889,
  19908,
  3375,
  3435,
  3547,
  20026,
  3611,
  13728,
  3773,
  23285,
  3868,
  24824,
  24824,
  32912,
  32912,
  32912,
  32912,
  32912,
  32927,
  32912,
  32912,
  32912,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  24011,
  24011,
  23192,
  34126,
  24011,
  33725,
  23191,
  23191,
  23191,
  23191,
  26255,
  26263,
  26268,
  26287,
  28188,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  29742,
  32283,
  32698,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  34545,
  15473,
  15493,
  34545,
  34545,
  34545,
  30017,
  30050,
  30061,
  33857,
  0,
  0,
  16043,
  0,
  0,
  0,
  0,
  0,
  0,
  28724,
  28724,
  30013,
  0,
  12084,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  2921,
  321,
  0,
  0,
  0,
  219,
  219,
  219,
  219,
  0,
  0,
  0,
  0,
  0,
  0,
  899,
  0,
  0,
  0,
  0,
  2073,
  1793,
  2714,
  3477,
  3477,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  2912,
  2912,
  2889,
  2909,
  3189,
  3283,
  0,
  0,
  0,
  0,
  3341,
  4024,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  11604,
  12033,
  0,
  0,
  11986,
  12395,
  12050,
  20107,
  11946,
  20040,
  12244,
  12347,
  3704,
  0,
  12602,
  12696,
  12151,
  12235,
  12547,
  12061,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  22334,
  22334,
  3773])

In [58]:
mylist

('_AIDTST3', 3773)

## 2. Generate the descriptive statistics

Now that our target variable is cleaned up lets calculate the descriptive statistics, generate a graph that quickly shows those statistics, and generate a gprah shows the histogram of the data.

In [78]:
# descriptive statistics
test_1.mean()

_STATE      27.046693
PHYSHLTH    60.213403
dtype: float64

In [ ]:
# graphic showing those descriptive stats

In [ ]:
# graphic showing the distribution of data

## 3. Generate a graphic that compares the average number of sick days for each state.

In [ ]:
# code to calculate the average number of sick days by state

In [ ]:
# code to graph those averages using matplotlib

## 4. Turn the number of sick days into a classification of of chronically sick people.  

Chronically sick people account for a significant proportion of the costs for health insurers. If we can identify what leads people to be chronically sick, we can address them with specific treatments.

In [16]:
# code to create new colum for chronically sick

## 5. Create a graphic that compares the percentage of people labeled as 'sick' in each state.

In [ ]:
# code to calculate averages per state

In [ ]:
# create graphic to compare chronically sick by state

## 6. Independent Variables (categorical)

Let's take the column `SMOKDAY2` and start to prepare it so that we can see how it is possibly correlated to `PHYSHLTH`.

1. Clean up the values.
2. Calculate the descriptive statistics of the variable.
3. Generate a histogram for the variable.
4. Generate graphics that show how the responses to this variable might differ by state.
5. Generate a graphic that compares the physical health of the different groups of 'smokers'.

## 7. Independent Variables (continuous):

Now let's look at a continuous variable (ALCDAY5) and see how that might impact a person's health. 

1. Clean up the values.
2. Calculate the descriptive statistics of the variable.
3. Generate a histogram for the variable.
4. Generate graphics that show how the responses to this variable might differ by state.
5. Calculate the correlation coefficient between `PHYSHLTH` and `ALCDAY5`.
5. Generate a graphic that shows the possible relationship between `PHYSHLTH` and `ALCDAY5`.

## 8. Additional variables: Choose two additional survey items you would like to investigate do steps  6 or 7 for those variables.

In [ ]:
# your code here

## 9. Based on your initial data exploration, what are some hypotheses of what affects a person's health that you would like to further investigate?

Type out your initial hyptotheses below:

1. 

2. 

3.

## Bonus: Create some cool graphics.